.select {
  width: 70%;
  margin: 10vh auto;
  background-color: #eee;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  color: #888;
}
.select select {
  padding: 10px;
}

.button {
  border: none;
  box-shadow: none;
  padding: 10px 20px;
  background-color: blueviolet;
  color: #fff;
  font-size: 25px;
  margin-top: 7px;
  width: 30%;
}

.details {
  width: 70%;
  min-height: 50vh;
  margin: 5vh auto;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px;
}
